@using Draughts.Application.ModPanel.ViewModels;
@model ModPanelViewModel
@{
    ViewBag.Title = "Mod panel - Game tools";
}

<nav class="side-menu">
    @Utils.SideMenu(Model.Menu)
</nav>

<div class="text-side-menu-container">
    <h1>@ViewBag.Title</h1>
    <p>
        TODO.
    </p>
</div>
