@{
    ViewBag.Title = "Privacy policy";
}
<div class="text-container">
    <h1>@ViewBag.Title</h1>
    <p>
        This project is made with the purpose of learning about DDD and thus does not gather any information of it's
        visitors except for what they add themselves. Think about things like username, email address, information and
        statistics of draught-games and the like.
    </p>
    <p>
        If for some reason anything slips in that should be noted on a privacy policy page (like cookies, trackers or
        analytics), please report it as an issue on <a class="extern" href="https://github.com/Mattias1/ddd-draughts">
        github</a>.
    </p>

    <h2>Cookies</h2>
    <p>
        We use a single cookie containing your token (JWT), which is necessary to login.
    </p>
</div>
