@{
    ViewBag.Title = "Documentation";
}

<nav class="side-menu">
    <h4>Subpages</h4>
    @Utils.SideMenu(Model)
</nav>

<div class="text-side-menu-container">
    <h1>@ViewBag.Title</h1>

    <h3>Bounded contexts</h3>
    <p>
        Todo
    </p>
</div>
