@{
    ViewBag.Title = "Documentation";
}

<nav class="side-menu">
    @Utils.SideMenu(Model)
</nav>

<div class="text-side-menu-container">
    <h1>@ViewBag.Title</h1>

    <h3>Hexagonal architecture</h3>
    <p>
        Todo. On references being only inwards or sideways, never outwards.
    </p>
</div>
