@model AuthUserViewModel
@{
    if (Model is null) {
        throw new InvalidOperationException("Model not set.");
    }
    ViewBag.Title = "User: " + Model.Username;
}

<div class="text-container">
    <h1>Account settings</h1>
    <div>
        <form class="form-horizontal" action="/user/account" method="post">
            <label>
                <span>Username:</span>
                <input type="text" name="username" value="@Model.Username" readonly="readonly" />
            </label>
            <label>
                <span>Email:</span>
                <input type="text" name="email" placeholder="Email address" value="@Model.Email" />
            </label>
            <hr/>

            <label>
                <span>Password:</span>
                <input type="password" name="password" placeholder="New password" />
            </label>
            <label>
                <span>Password confirmation:</span>
                <input type="password" name="passwordConfirm" placeholder="New password" />
            </label>
            <hr/>

            <label>
                <span>Current password:</span>
                <input type="password" name="currentPassword" placeholder="Current password" />
            </label>
            <hr/>

            <label>
                <span></span><input type="submit" value="Register" />
            </label>
        </form>
    </div>
</div>
